<div class="jumbotron row">
    <div class="col-md-9">
        <h1>TIY Sports</h1>
        <p class="lead">&hearts; For the students of The Iron Yards</p>
    </div>
    <img class="col-md-3 img-circle" src="~/Assets/images/sports.jpg" />
</div>

<div class="row">
    <div class="col-md-3 panel panel-default">
        <img class="img-responsive" src="~/Assets/images/football.jpg" />
        <h2>Football</h2>
    </div>
    <div class="col-md-3 panel panel-default">
        <img class="img-responsive" src="~/Assets/images/baseball.jpg" />
        <h2>Baseball</h2>
    </div>
    <div class="col-md-3 panel panel-default">
        <img class="img-responsive" src="~/Assets/images/basketball.jpg" />
        <h2>Basketball</h2>
    </div>
    <div class="col-md-3 panel panel-default">
        <img class="img-responsive" src="~/Assets/images/quidditch.jpg" />
        <h2>Quidditch</h2>
    </div>
</div>

<div class="alert alert-warning" role="alert">
    <p>We&apos;ve added some brand new features in version 2.0! <a href="#">Learn More</a></p>
</div>
