<div class="jumbotron row">
    <div class="col-xs-9">
        <h1>TIY Sports</h1>
        <p class="lead">&hearts; For the students of The Iron Yards</p>
    </div>
    <img class="col-xs-3 img-circle" src="~/Assets/images/sports.jpg" />
</div>

<div class="row">
    <div class="col-md-3 panel panel-default">
        <img class="img-responsive" src="~/Assets/images/football.jpg" />
        <h2>Football</h2>
    </div>
    <div class="col-md-3 panel panel-default">
        <img class="img-responsive" src="~/Assets/images/baseball.jpg" />
        <h2>Baseball</h2>
    </div>
    <div class="col-md-3 panel panel-default">
        <img class="img-responsive" src="~/Assets/images/basketball.jpg" />
        <h2>Basketball</h2>
    </div>
    <div class="col-md-3 panel panel-default">
        <img class="img-responsive" src="~/Assets/images/quidditch.jpg" />
        <h2>Quidditch</h2>
    </div>
</div>

<div class="row alert alert-warning" role="alert">
    <div class="col-md-12">
        <p>We&apos;ve added some brand new features in version 2.0! <a href="#">Learn More</a></p>
    </div>
</div>

<div class="well row">
    <span class="col-md-10">
        <p><span class="glyphicon glyphicon-user"></span> Please <b>log in</b> to edit</p>
    </span>
    <span class="col-md-2">
        <a class="btn btn-primary pull-right">f Facebook</a>
    </span>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3><span class="glyphicon glyphicon-chevron-right"> </span>Teams</h3>
    </div>
    <div class="table">
        <ul class="list-group">
            <li class="list-group-item">
                <div class="row">
                    <img class="col-sm-1 img-thumbnail" src="~/Assets/images/dartboard.png" />
                    <div class="col-sm-11">
                        <h4>Tampa Dart Dynamos</h4>
                        <p>Lorem adsflkj aarjlkjnm eirurokfnm, sddfsdf, safijsdkfjasdkfjhu.</p>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <img class="col-sm-1 img-thumbnail" src="~/Assets/images/pingpong.jpg" />
                    <div class="col-sm-11">
                        <h4>St. Pete Ping Pong Power House</h4>
                        <p>Lorem adsflkj aarjlkjnm eirurokfnm, sddfsdf, safijsdkfjasdkfjhu.</p>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <img class="col-sm-1 img-rounded" src="~/Assets/images/golf.jpg" />
                    <div class="col-sm-11">
                        <h4>Orlando Golf Gang</h4>
                        <p>Lorem adsflkj aarjlkjnm eirurokfnm, sddfsdf, safijsdkfjasdkfjhu.</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div class="panel-footer">
        <div class="text-center">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3><span class="glyphicon glyphicon-ok"> </span>Games</h3>
    </div>
    <table class="table">
        <tr>
            <th>#</th>
            <th>Home Team</th>
            <th>Away Team</th>
            <th>Score</th>
        </tr>
        <tr>
            <th>1</th>
            <th>Tampa Dart Dynamos</th>
            <th>Buffalo Bullseyes</th>
            <th>20-17</th>
        </tr>
        <tr>
            <th>2</th>
            <th>St. Pete Ping Pong Power House</th>
            <th>Philly Paddlers</th>
            <th>18-12</th>
        </tr>
        <tr>
            <th>3</th>
            <th>St. Pete Ping Pong Power House</th>
            <th>Portland Putters</th>
            <th>2-1</th>
        </tr>
    </table>
</div>
